html {
	-webkit-appearance: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #666;
}

div.block {
	/*background-color: red;*/
	border: 1px solid black;
	width: 20px; height: 20px;
}

div#wrapper {
	margin: 150px 0 auto;
}

div.filled {
	background-color: red;
}

table {
	text-align: center;
	margin: 0 auto;
}

button {
	margin: 10px auto;
	display: block;
}